* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.flex_center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.flex_between {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.content {
	padding: 23rpx;
}
.btn_full {
	width: 600rpx;
	height: 96rpx;
	background-color: #FC5908;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	font-size: 30rpx;
	margin: 0 auto;
	border-radius: 17rpx;
}
.btn_plain {
	width: 600rpx;
	height: 96rpx;
	border: 1px solid #FC5908;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FC5908;
	font-size: 30rpx;
	margin: 0 auto;
	border-radius: 17rpx;
	background-color: #fff;
}
page {
	min-height: 100%;
	background-color: #f8f8f8;
}
.uni-input {
	font-size: 24rpx;
	color: #999999;
}
image {
	height: 1rpx;
}